@use "./base.scss";

// put your custom CSS here!

// Logseq ^^highlight^^ syntax
mark {
  background-color: var(--textHighlight);
  color: var(--darkgray);
  padding: 0 0.2rem;
  border-radius: 5px;
}
